@font-face {
    font-family: 'iconfont';  /* project id 1226718 */
    src: url('//at.alicdn.com/t/font_1226718_icxevt3938.eot');
    src: url('//at.alicdn.com/t/font_1226718_icxevt3938.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1226718_icxevt3938.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1226718_icxevt3938.woff') format('woff'),
    url('//at.alicdn.com/t/font_1226718_icxevt3938.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1226718_icxevt3938.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo-2:before {
    content: "\e626";
}

.icon-right:before {
    content: "\e602";
}

.icon-reduce:before {
    content: "\e614";
}

.icon-add:before {
    content: "\e615";
}

.icon-play:before {
    content: "\e63c";
}

.icon-suspend:before {
    content: "\e63b";
}

.icon-listen:before {
    content: "\e721";
}

.icon-payment:before {
    content: "\e670";
}

.icon-pshipped:before {
    content: "\e671";
}


.icon-received:before {
    content: "\e65b";
}

.icon-evaluate:before {
    content: "\e657";
}

.icon-refund:before {
    content: "\e659";
}


.icon-cart:before {
    content: "\e66f";
}

.icon-record:before {
    content: "\e666";
}

.icon-address:before {
    content: "\e645";
}

.icon-collect:before {
    content: "\e613";
}

.icon-appraisal:before {
    content: "\e60e";
}

.icon-photography:before {
    content: "\e609";
}

.icon-edit:before {
    content: "\e66d";
}

.icon-delete:before {
    content: "\e65c";
}

.icon-checked:before {
    content: "\e627";
}

/*好评*/
.icon-good:before {
    content: "\e616";
}

/*差评*/
.icon-bad:before {
    content: "\e629";
}

/*核销记录*/
.icon-hexiao:before {
    content: "\e63d";
}
/*核销记录*/
.icon-hxjl:before {
    content: "\e60b";
}
